// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select 2
@import 'select2';

/*select2 fullwidth*/
.select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-drop li {
  white-space: pre;
}

/*select2 height*/
.select2-container .select2-selection--single {
    height: 35px !important;
}